.phone_num img, .icons img{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--card_background_color);
    border-radius: 50%;
}
footer{
    min-height: 100px;
    background: linear-gradient(to bottom,rgb(140, 28, 76));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 20px;
}
.first_part{
    border-top: 1px solid rgb(153, 56, 98);
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.second_part{
    padding-bottom: 40px;
    color: rgb(191, 130, 156) ;
}
.phone_num{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
    }
}
